{% include "header.html" %}

<!-- Page Header-->
<header
        class="masthead"
        style="background-image: url('../static/assets/img/about-bg.jpg')"
>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About</h1>
                    <span class="subheading">This is what I am.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-7 d-flex align-items-center">
<!--                <img src="static/assets/img/me.jpg" width="20%" alt="me.jpg" class="me-3"/>-->
                <div>
                    <p></p>
                    <h2 class="featurette-heading fw-normal lh-1">Andrea <span class="text-body-secondary">Klostermann</span></h2>
                    <h5 class="lead">eHealth Standards Engineer, Free Time Data Analyst, Eclectic Programmer, Unpretentious Artist.
                    <p></p>For information about art work, please <a href="{{ url_for('contact') }}">contact me</a>.
                    I also welcome feedback on my art or ideas and inspiration for new projects.</h5>
                </div>
            </div>
        </div>
    </div>
</main>

{% include "footer.html" %}
