<section id="about" class="container about section">
  <h1 class="section-header">Facts</h1>
  <hr class="section-header-underline">

  <div class="about-wrapper">
    <div class="bio-photo">
      <img src="{{ url_for('static', filename='assets/img/ak.jpg') }}"
           alt="Andrea K">
    </div>
    
    <h2 class="featurette-heading fw-normal lh-1">
      Andrea <span class="text-body-secondary">K</span>
    </h2>
    
    <h5 class="lead">
      Standards Engineer, Maker, Free Time Data Analyst, Eclectic Programmer, Wannabe Artist.
      <p></p>
      For information about art work, please
      <a href="mailto:andrea.klostermann@vplotter.art">contact me</a>.
      I also welcome feedback on my art or ideas and inspiration for new projects.
    </h5>
    
  </div>
</section>
