<section id="contact" class="contact section">
  <h1 class="section-header">Let's Connect</h1>
  <hr class="section-header-underline">

  <div class="contact-wrapper">
    <ul class="contact-icons-list">
      <li><a href="mailto:a_k@gmx.at" class="contact-icon"><i class="fas fa-envelope"></i></a></li>
      <li><a href="https://www.linkedin.com/in/andrea-klostermann-7a7383144/"
             target="_blank" rel="noopener" class="contact-icon">
        <i class="fab fa-linkedin-in"></i></a></li>
      <li><a href="https://www.instagram.com/_andrea_k_/"
             target="_blank" rel="noopener" class="contact-icon">
        <i class="fab fa-instagram"></i></a></li>
      <li><a href="https://github.com/aka247/"
             target="_blank" rel="noopener" class="contact-icon">
        <i class="fab fa-github"></i></a></li>
    </ul>
  </div>
</section>
