        <!-- Footer-->
        <footer class="border-top">
          <div class="container px-4 px-lg-5">
              <div class="row gx-4 gx-lg-5 justify-content-center">
                  <div class="col-md-10 col-lg-8 col-xl-7">
                      <ul class="list-inline text-center">

                          <li class="list-inline-item">
                              <a href="https://www.linkedin.com/in/andrea-klostermann-7a7383144/">
                                  <span class="fa-stack fa-lg">
                                      <i class="fas fa-circle fa-stack-2x"></i>
                                      <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                                  </span>
                              </a>
                          </li>
                          <li class="list-inline-item">
                              <a href="https://github.com/aka247/">
                                  <span class="fa-stack fa-lg">
                                      <i class="fas fa-circle fa-stack-2x"></i>
                                      <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                  </span>
                              </a>
                          </li>
                          <li class="list-inline-item">
                              <a href="https://www.instagram.com/_andrea_k_/">
                                  <span class="fa-stack fa-lg">
                                      <i class="fas fa-circle fa-stack-2x"></i>
                                      <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                                  </span>
                              </a>
                          </li>
                      </ul>
                      <div class="small text-center text-muted fst-italic">Copyright &copy; Andrea Klostermann 2024</div>
                  </div>
              </div>
          </div>
      </footer>


        <!-- SCRIPTS -->

<!-- jQuery -->
<script type="text/javascript" src="static/js/jquery-1.11.3.min.js"></script>

<!-- Icons -->
<script src="https://use.fontawesome.com/20ab91acc4.js"></script>

<!-- Bootstrap -->
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/scrolling-nav.js"></script>
<script src="static/js/jquery.easing.min.js"></script>

<!-- Magnific Popup core JS file -->
<script src="static/js/jquery.magnific-popup.min.js"></script>

<!-- Parallax.js Plugin -->
<script src="static/js/parallax.min.js"></script>

<!-- Google Map js -->
<script type="text/javascript" src="static/js/map.js"></script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKJ2pLowDSDrUEU3Cr76K2-OysRkQd2o8&callback=initMap"></script>

<!-- Custom JS File-->
<script type="text/javascript" src="static/js/index.js"></script>


</body>
</html>
