 <!-- Footer-->
    <footer class="border-top">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/aka247/">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/_andrea_k_/">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <div class="small text-center text-muted fst-italic">
              Copyright &copy; Andrea Klostermann 2025
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- SCRIPTS -->
    
    <!-- jQuery (required for Bootstrap 3) -->
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <!-- Bootstrap -->
    <script src="/static/js/bootstrap.min.js') }}"></script>
    <!-- Parallax.js Plugin -->
    <script src="/static/js/parallax.min.js') }}"></script>
    <!-- Fancybox -->
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
    <!-- Google Map js -->
    <script
      type="text/javascript"
      src="/static/js/map.js') }}"
    ></script>
    <!-- Custom JS File-->
    <script
      type="text/javascript"
      src="/static/js/index.js') }}"
    ></script>
    <script>
      Fancybox.bind("[data-fancybox]", {});
    </script>
    <!--<script>
    Fancybox.bind("[data-fancybox]", {
        Toolbar: { display: ["counter","zoom","slideshow","fullscreen","close"] }
    });
    <!-- Icons -->
    <script src="https://use.fontawesome.com/20ab91acc4.js"></script>
</script>

  </body>
</html>
