<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bruno Broicher | Editor</title>
  <meta name="description" content="Bruno Broicher is an film producer headquartered in Vienna. Check out his work, see what he's about, and contact him here.">

  <!-- CSS Files -->
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/magnific-popup.css">
	<link rel="stylesheet" type="text/css" href="static/css/style.css">

  <!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300%7COpen+Sans:300,400%7COswald:300,700%7CRaleway:300,700" rel="stylesheet">

</head>

<body>

  <!-- NAV BAR -->
  <nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="container">
      <div class="navbar-header">
        <a class="page-scroll navbar-brand" href="#home">Bruno Broicher</a>
        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navHeaderCollapse">
          <span class="icon-bar bar1"></span>
          <span class="icon-bar bar2"></span>
          <span class="icon-bar bar3"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse navHeaderCollapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="page-scroll nav-underline" href="#work">Work</a></li>
          <li><a class="page-scroll nav-underline"href="#bio">Bio</a></li>
          <li><a class="page-scroll nav-underline"href="#about">About</a></li>
          <li><a class="page-scroll nav-underline"href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>