{% include "header.html" %}

    <!-- HOME SECTION 
<section id="home" class="home section">
    <div class="jumbotron">
        <div class="jumbo-container">
            <h1 class="main-title">Andrea</h1>
            <div class="job-titles">
                <span class="job-name editor">Film Producer</span> <span class="job-name-divider">|</span>
                <span class="job-name writer">Web Commercials</span> <span class="job-name-divider">|</span>
                <span class="job-name director">Outdoor Fanatic</span>
            </div>
            <a href="#work" class="page-scroll portfolio-button">View Portfolio</a>
        </div>
        <div class="chevron-container">
            <a class="page-scroll" href="#work"><span class="chev"></span></a>
        </div>
    </div>
</section> -->

   <!-- WORK SECTION -->
    <section id="work" class="work section">
      <h1 class="section-header">Recent Work</h1>
      <hr class="section-header-underline" />

      <div class="video-gallery">
        {% for project in projects %}

           <!-- <a data-fancybox href="https://lipsum.app/id/1/800x600">
            <img src="https://lipsum.app/id/1/200x150">
            </a> -->
            <div class="gallery-item">
              <div class="gallery-item-caption">
            <div><h2>{{ project.name }}</h2>
              <p>{{ artworks[project.name]["subtitle"] }}</p>
            </div>
          </div>
                <a data-fancybox="{{ project.name }}" href="{{ url_for('static', filename=project.preview) }}">
                <img class="img-responsive" src="{{ url_for('static',  filename=project.preview )}}" alt="{{ project.name }}" />
                </a>
            </div>

          {# hidden images for the gallery (skip the first because it's the preview) #}
          {% for f in project.files[1:] %}
          <a
            data-fancybox="{{ project.name }}"
            href="{{ url_for('static', filename='assets/img/art/' ~ project.name ~ '/' ~ f) }}"
            style="display: none"
          ></a>
          {% endfor %} 

          

        {% endfor %}
            
     </div>

    </section>

    <div class="clearfix"></div>

    <!-- BIO SECTION 
<section id="bio" class="bio section">
    <h1 class="section-header white-section-header bio-header">I'm Andrea</h1>
    <div class="bio-text body-texts">
        <div class="bio-photo">
            <img src="static/assets/img/frank-headshot.jpg" alt="Authort"/>
        </div> 
    </div>
</section>
-->

    <!-- ABOUT SECTION -->
<section id="about" class="container about section">
    <h1 class="section-header">Andrea Facts</h1>
    <hr class="section-header-underline"/>
    <div class="about-wrapper">

                    <p></p>
                    <!-- <h2 class="featurette-heading fw-normal lh-1">Andrea <span class="text-body-secondary">Klostermann</span></h2> -->
                    <h5 class="lead">eHealth Standards Engineer, Free Time Data Analyst, Eclectic Programmer, Unpretentious Artist.
                    <p></p>For information about commissioned art work, please <a href="{{ url_for('contact') }}">contact me</a>.
                    I also welcome feedback on my art or ideas and inspiration for new projects.</h5>
                </div>

</section>

    <div class="subway-image"></div>

    <!-- CONTACT SECTION -->
    <section id="contact" class="contact section">
      <h1 class="section-header white-section-header">Let's Connect</h1>

      <div class="contact-wrapper">
        <ul class="contact-icons-list">
          <li>
            <a href="mailto:a_k@gmx.at" class="contact-icon">
              <i class="fa fa-envelope icon-font"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/andrea-klostermann-7a7383144/"
              target="_blank"
              class="contact-icon"
            >
              <i class="fa fa-linkedin icon-font"></i
            ></a>
          </li>
          <li>
            <a
              href="https://vimeo.com/user39166592"
              target="_blank"
              class="contact-icon"
            >
              <i class="fa fa-vimeo icon-font"></i
            ></a>
          </li>
          <li>
            <a
              href="http://www.imdb.com/name/nm3132890/"
              target="_blank"
              class="contact-icon"
            >
              <i class="fa fa-imdb icon-font"></i
            ></a>
          </li>
        </ul>

        <div id="map"></div>

        <div class="copyright">&copy; 2025 ALL RIGHTS RESERVED</div>
      </div>
    </section>

    {% include "footer.html" %}

   