<section id="work" class="work section">
  <h1 class="section-header">Recent Work</h1>
  <hr class="section-header-underline">

  <div class="video-gallery">
    {% for project in projects %}
      <div class="gallery-item">
        <div class="gallery-item-caption">
          <div>
            <h2>{{ project.title }}</h2>
            <p>{{ project.subtitle }}</p>
          </div>
        </div>

        <a
          data-fancybox="{{ project.id }}"
          href="{{ url_for('static', filename=project.preview) }}"
          data-caption="
            <h2>{{ project.title }}</h2>
            <p><em>{{ project.subtitle }}</em></p>
            <p>{{ project.description }}</p>
            <p><small>{{ project.year }}</small></p>">

          <div class="image-wrapper">
            <img class="img-responsive"
                src="{{ url_for('static', filename=project.preview) }}"
                alt="Vertical Plotter Artwork {{ project.title }}">

            {% if project.status == "sold_w" %}
              <img class="sold-badge"
                  src="{{ url_for('static', filename='assets/sold_microsoft_72_white_frame.svg') }}"
                  alt="Sold">
            {% elif project.status == "sold_b" %}
              <img class="sold-badge"
                  src="{{ url_for('static', filename='assets/sold_microsoft_72_black_frame.svg') }}"
                  alt="Sold">
            {% elif project.status == "private_collection_w" %}
              <img class="private-collection-badge"
                  src="{{ url_for('static', filename='assets/private_collection_microsoft_72_white_frame.svg') }}"
                  alt="Private Collection">
            {% elif project.status == "private_collection_b" %}
              <img class="private-collection-badge"
                  src="{{ url_for('static', filename='assets/private_collection_microsoft_72_black_frame.svg') }}"
                  alt="Private Collection">
            {% endif %}
          </div>

        </a>
      </div>

      {% for f in project.files[1:] %}
        <a data-fancybox="{{ project.id }}"
           href="{{ url_for('static', filename='assets/img/art/' ~ project.id ~ '/' ~ f) }}"
           hidden></a>
      {% endfor %}
    {% endfor %}
  </div>
</section>

<div class="clearfix"></div>
